* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

main{
    padding-top: 50px;
}

header {
    background-color: #2874f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 12px 40px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.hlogo img{
    width: 100px;
    border-radius: 10px;
}

header form {
    display: flex;
    align-items: center;
    padding: 5px 15px 5px 0px;
    background-color: white;
    border-radius: 3px;
    width: 70%;
}

header form input {
    border: none;
    width: 100%;
    padding: 5px 10px;
}

header form input:focus{
    outline: none;
}

header form:hover, header form input:hover, .cart:hover, button:hover, .avatar div:hover, .hlogo:hover, .img_slide:hover, .display_signup:hover {
    cursor: pointer;
}

header form img {
    width: 18px;
}

header button{
    padding: 8px 40px;
    font-size: 15px;
    font-weight: 550;
    color: #2874f0;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 3px;
}

.cart, .avatar, .avatar div {
    display: flex;
    align-items: center;
    gap: 3px;
}

.cart img {
    width: 30px;
}

.avatar {
    display: flex;
    flex-direction: column;
}

#avatar_extras{
    position: absolute;
    top: 49px;
    right: 0;
    display: none;
}

#avatar_extras .display_signup>div{
    width: 100%;
}

#avatar_extras .display_signup{
    display: flex;
    flex-direction: column;
    width: 200px;
}

#avatar_extras .display_signup .triangle_holder{
    background-color: #2874f0;
    width: 100%;
}

.cart p, .avatar h3 {
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.avatar div img{
    width: 40px;
    margin-left: 5px;
}

.display_signup {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
}

.login_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 13px;
    right: 370px;
    width: 250px;
}

.right_header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
  
}

.left_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 48%;
}

.login_section button {
    background-color: white;
}

img[alt = logout]{
    width: 15px;
}

a{
    text-decoration: none;
}

#logout_section{
    display: none;
}

img[alt = home_logo]{
    width: 35px;
    height: 35px;
}

#logout_section #logout_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 18px;
}

.display_signup div {
    display: flex;
    padding: 15px 20px;
}

.display_signup div img {
    width: 20px;
}

.display_signup div a, a{
    color: #2874f0;
    text-decoration: none;
    font-weight: 600;
}

.display_signup div a:hover {
    text-decoration: underline;
}

.display_signup hr {
    border: 0.5px solid #e3e2e2;
}

.display_signup div:nth-child(4) {
    gap: 10px;
}

.display_signup div:nth-child(2) {
    gap: 50px;
}

.display_signup div:nth-child(4):hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

.display_signup .triangle {
        padding: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;
        border-bottom: 15px solid #ffffff;
  }


.display_signup .triangle_holder {
    display: flex;
    justify-content: center;
    background-color:#2874f0;
    padding: 0;
}

.multiple_options_top img{
    width: 70px;
}

.multiple_options_top div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.multiple_options_top p {
    font-weight: 600;
    margin-top: 5px;   
}

.multiple_options_top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 4px 0px;
}


.multiple_options_top div:hover{
    cursor: pointer;
    color: #2874f0;
}

.img_slide img{
    width: 100%;
    height: 100%;
}

.img_slide {
    width: 100%;
    height: 380px;
    padding: 0px 5px;
    margin: 10px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 4px 0px;
} 


.right_arrow, .left_arrow{
    background-color: white;
    height: 100px;
    width: 50px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: absolute;
    padding:5px;
}

.left_arrow:hover, .right_arrow:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
}

.left_arrow {
    top: 350px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right_arrow {
    right: 0;
    top: 350px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.right_arrow img, .left_arrow img{
    height: 60%;
    width: 100%;
}




/***************** From Here Container part of landing page starts *************/


.box {
    width: 200px;
    height: 340px;
    padding: 10px;
}

.box img {
    width: 100%;
    height: 60%;
    position: relative;
    top: 5px;
}

.box h3{
    padding: 15px;
    font-weight: 600;
    color: #4b4a4a;
    width: 100%;
    height: 20%;
    margin: 0px;
}

.box p{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 20%;
}


#container {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    padding-left: 50px;
    flex-wrap: wrap;
    gap: 18px;
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    padding: 0;
    color: #0088ff;
}

span{
    color: red;
}
